.uvn-main-content {
    background: url('http://cdn3.uvnimg.com/21/8b/182d777e434ca0072056c95f1b38/rlc-background.jpg');
    margin: 0;
}

.uvn-main-content .container {
    padding: 0 15px;
    margin: 0 auto;
}
.game-container {   
    
    .game-header {        
        margin-bottom: 16px;
        h1 {
            color: #face39;
            font-size: 26px;
            font-family: 'SourceSansPro',sourcesanspro,sans-serif;    
            font-weight: 600;
        }
        h3 {
            color: #fff;
            font-size: 16px;
            font-family: 'SourceSansPro-Regular',sourcesanspro,sans-serif;        
            span {
                color: #f9c73e;
                font-style: italic;
                font-weight: 600;
            }
        }
    }
    .game-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 15px;
         a {
           width: 90px;
           height: 60px;
           background: #1a0b2c;
           border: 1px solid #1a0b2c;
           float: left;
           margin: 0 3px 30px;
           position: relative;          
           text-align: center;           
           cursor: pointer;
            img {
                width: 32px;
                margin-top: 12px;                
            }
            &.active {
                background: #face39;
                border: 1px solid #face39;
            }
            &:hover {
                border: 1px solid #face39;
            }
            p {
                position: absolute;
                width: 100%;
                bottom: -35px;
                font-size: 12px;
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;
            }
        }      
    }
    .game-result {            
         width: 100%; 
         height: 293px;             
         color: #fff; 
         .card-legend {
             background: #1a0b2c;
             height: 315px;
             display: flex;
             text-align: center;
             align-items: center;
             flex-direction: column;
             justify-content: center;
             position: relative;
            &-content {
                    width: 60%;
                    margin: auto;
                    text-align: center;
                    
                    p {
                        margin-top: 10px;
                        span {
                           color: #f9c73e;
                           font-style: italic;
                           font-weight: 600;
                        }
                    }
                    img {
                        width: 39px;                                                
                    }
                    h3 {
                        font-size: 20px;
                        display: inline-block;
                        position: relative;
                        left: 4px;
                        font-weight: 600;
                        span {
                            color: #f9c73e;
                            font-style: italic;
                            font-weight: 600;
                        }
                    }                    
            }
            &-author {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                img {
                    max-width: 55px;
                }
                &-song {
                    margin-left: 10px;
                    p {
                        margin: 0;
                    }
                    p:first-child {
                        font-weight: 600;
                    }
                    p:nth-child(2) {
                        font-size: 14px;
                        color: #715cae;
                    }
                }
            }
            &-text {
                font-size: 14px;
                margin: 0 41px;
            }
            &-socials {
                a {
                        display: inline-block;
                        margin: 10px 5px;
                }
                img {
                    max-width: 27px;
                }
            }  
            &-page {
                position: absolute;
                bottom: 10px;
                right: 20px;
            }     
         }         
    }
}

@media only screen and (min-width: 992px) {
    .publicidad {
        height: 90px;
        width: 100%;
        background: greenyellow;
        margin: auto;
    }
    .game-container {
        max-width: 800px;
        height: 800px;
        margin: auto;
        .game-header {   
            text-align: center;   
            margin-bottom: 28px;  
            h1 {            
                font-size: 48px;
            }
            h3 {
                color: #fff;
                font-size: 20px;            
            }
        }
        .game-buttons {
            a {
                
            }
        }
        .game-result {            
            width: 472px;
            .card-legend {
                &-page {
                    bottom: 0;
                }
                &-content {
                    width: 40%;
                }
            }
        }
    }
    
}


/*slick*/

.slick-slide {       
    outline: none !important; 
}

.slick-next {   
     right: 20px;      
     transform: rotate(90deg) scaleX(-1);   
    &:before {            
        content: "\e902";
        font-family: icomoon-2016!important;
        font-size: 17px;
        color: #face39;        
    }
    &:hover, &:focus, {        
            &:before {
                opacity: 0.9 !important;        
            }            
    }
}

.slick-prev {    
    left: 20px;        
    transform: rotate(270deg) scaleX(-1);
    &:before{
        content: "\e902";
        font-size: 17px;
        color: #face39;
        font-family: icomoon-2016!important;        
    }    
}